PORT= 8002
DB_URL="mongodb://localhost:27017/cv-builder"
SALT_ROUND=<1-10>

#MAIL
SMTP_SERVICE="gmail"
SMTP_EMAIL="sadipbhattarai@gmail.com"
SMTP_PASS="ralbipeftszpiicc"

#JWT
JWT_SECRET="secret"
JWT_DURATION="1h"